/* .container{
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

} */

.card:hover .containerRain .vapour{
    position: absolute;
    width: 100%;
    height: 100%;

}

.card:hover .containerRain i {
    position: absolute;
    width: 2px;
    height: 10px;
    top: -10px;
    background: #fff;
    animation: rain linear infinite;

} 

@keyframes rain{
    0%{
        top: 0%;
    }
    100%{
        top: 100%;
    }

}